.randomGif{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
   background-color: black;
    padding: 2rem 0;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.084), rgba(255, 255, 255, 0.089)), /* Ajusta la opacidad aquí */
    url('../../Assets/IMG/star.gif');
background-size: 25px 25px; /* Aumenta el tamaño de la imagen para crear el espacio */
background-repeat: repeat; /* Hace que la imagen se repita */
background-position: 0 0; /* Asegura que la repetición comience desde la esquina superior izquierda */
}

.randomGif .titulo{
    margin-bottom: 1rem;
    font-weight: 900;
    color: #0000ee;
}

.randomGif .boton{
    border-color: #0000ee;
    font-weight: 900;
    text-decoration: underline blue;
    width: 65vw;
    height: 3rem;
    background-color: #dddedf;
    font-style: italic;
    margin-bottom: 1.5rem;
}