.tiktok .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.tiktok .titulo{
    color: black;
    font-style: normal;
    text-decoration: underline;
    font-weight: 900;
    margin-top: -2rem;
}

.css-vptvdy{
    margin: 0;
    padding: 0;
    height: 100px!important;
    background: #9da1aa;
}

.css-g03djc{
    background-color: #9da1aa!important;
}

@media (min-width: 1024px){

    .tiktok .container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    .tiktok .titulo{
        color: black;
        font-style: normal;
        text-decoration: underline;
        font-weight: 900;
        margin-top: -2rem;
        font-size: 3rem;
        padding-bottom: 3rem;
    }

}