.elegirJuego {
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), /* Ajusta la opacidad aquí */
        url('../../IMG/back.png');
    background-size: 150px 150px; /* Aumenta el tamaño de la imagen para crear el espacio */
    background-repeat: repeat; /* Hace que la imagen se repita */
    background-position: 0 0; /* Asegura que la repetición comience desde la esquina superior izquierda */
    padding: 2rem 0;
}

.elegirJuego .titulo{
    text-align: center;
    font-weight: 900;
    color: #0000ee;
    font-size: 6vw;
    font-style: italic;
    text-decoration: underline;
}

.elegirJuego .containerGift{
    display: flex;
    flex-wrap: wrap;
    margin: 1.75rem 6vw;
    justify-content: center;
    border-color: #cbcbcb #4e474e #4e474e #cbcbcb;
    border-style: solid;
    border-width: 5px;
    background-color: #9da1aa;
    padding: 1rem 0;
}

.elegirJuego .containerGift .img{
    width: 28.25vw;
    padding: 0 0.1rem;
    cursor: pointer;
}

.elegirJuego .containerGift #img1:hover,
.elegirJuego .containerGift #img2:hover,
.elegirJuego .containerGift #img3:hover,
.elegirJuego .containerGift #img4:hover,
.elegirJuego .containerGift #img5:hover,
.elegirJuego .containerGift #img6:hover,
.elegirJuego .containerGift #img7:hover,
.elegirJuego .containerGift #img8:hover,
.elegirJuego .containerGift #img9:hover{
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


@media (min-width: 1024px){

    .elegirJuego {
        padding: 2rem 0;
    }
    
    .elegirJuego .titulo{
        font-size: 4vw;
        padding: 2rem;
    }
    
    .elegirJuego .containerGift{
        margin: 1.75rem auto;
        padding: 1rem 0;
        width: 60vw;
        justify-content: center;
        align-items: center;
    }
    
    
    .elegirJuego .containerGift .img{
        width: 10vw;
        padding: 0 0.1rem;
        margin: 0 3rem;
    }

}