.institucional{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0;
}

.institucional .container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: nowrap;
    align-items: flex-start;
}