.redes{
    padding: 0;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.677), rgba(255, 255, 255, 0.627)), /* Ajusta la opacidad aquí */
        url('../Assets/IMG/redesbackground.png');
    background-size: 50px 50px; /* Aumenta el tamaño de la imagen para crear el espacio */
    background-repeat: repeat; /* Hace que la imagen se repita */
    background-position: 0 0; /* Asegura que la repetición comience desde la esquina superior izquierda */
}

.redes .titulo{
    text-align: center;
    color: black;
    font-weight: 900;
    text-decoration: underline;
    font-style: italic;
    padding: 2.5rem 0 0 0;
}