.navBar{
    background-color: #9da1aa!important;
    padding: 0.8rem 0 0.5rem!important;
    margin: 0.5rem;
    border-color: #cbcbcb #4e474e #4e474e #cbcbcb;
    border-style: solid;
    border-width: 5px;
}

.navBar .Brand{
    color: blue!important;
    width: 25vw;
    font-size: 6vw;
}

.navBar .audio{
    margin-left: 20vw;
    margin-top: -0.8rem;
    width: 18vw;
}