.navBar{
    background-color: #9da1aa!important;
    padding: 0.8rem 1rem 0.5rem!important;
    border-color: #cbcbcb #4e474e #4e474e #cbcbcb;
    border-style: solid;
    border-width: 5px;
    display: flex;
    justify-content: space-between;
}

.navBar .img{
    width: 13vw;
}

.navBar .brand{
    color: blue;
    font-size: 5vw;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-weight: 900;
    cursor: pointer;
}

.navBar .audio{
    margin-top: -0.7vh;
    width: 16vw;
    cursor: pointer;
}

@media (min-width: 1024px){
    .navBar{
        margin: 3rem;
        width: 50vw;
        margin-bottom: 3.5rem;
    }
    
    .navBar .brand{
        font-size: 3vw;
        margin-left: 1rem;
    }

    .navBar .img{
        width: 4vw;
        margin-top: -1.25rem;
    }

    .navBar .audio{
        width: 5.5vw;
    }
}