.producto{
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 2rem;
    padding: 1.5rem 0; 
    color: aliceblue;
    font-weight: 900;
}

.producto .titulo{
    font-weight: 900;
}

.producto .img{
    width: 50vw;
}

.producto .praise{
    width: 40vw;
}


@media (min-width: 1024px){
    .producto {
        width: 80vw;
    }
}