.producto{
    display: flex;
    margin: auto;
    align-items: center;
    padding: 2.5rem 0; 
    color: aliceblue;
    font-weight: 900;
   background-color: blue;

}

.producto .titulo{
    font-weight: 900;
    color: black;
}

.producto p{
    color: black;
    font-weight: 900;
}

.producto .img{
    width: 50vw;
}

.producto .praise{
    width: 40vw;
}


@media (min-width: 1024px){
    .producto {
        width: 80vw;
    }
}