.producto{
    display: flex;
    margin: auto;
    align-items: center;
    padding: 2.5rem 0; 
    color: aliceblue;
    font-weight: 900;
   background-color: blue;

}

.producto .titulo{
    font-weight: 900;
    color: white;
}

.producto p{
    color: white;
    font-weight: 900;
}

.producto .img{
    width: 50vw;
}

.producto .praise{
    width: 40vw;
}


@media (min-width: 1024px){
    .producto {
        width: 88vw;
        padding: 12vh 0;
        justify-content: space-around;
    }

    .producto .titulo{
        font-size: 5rem;
    }
    
    .producto p{
        font-size: 1.75rem;
    }
    
    .producto .img{
        width: 37vw;
    }
    
    .producto .praise{
        width: 28vw;
    }
}