.footer{
    background-color: #9da1aa!important;
    padding: 1.2rem 0!important;
    margin: 0.5rem;
    border-color: #cbcbcb #4e474e #4e474e #cbcbcb;
    border-style: solid;
    border-width: 5px;
    margin-top: 2rem;
}

.footer .titulo {
    text-align: center;
    color: blue;
    font-weight: 700;
}

.footer .enlaces{
    color: blue;
    margin: 0.5rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.footer .lista{
    text-decoration: none;
}

.footer .lista{
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem auto;
}