.footer{
    background-color: #9da1aa!important;
    padding: 1.2rem 0!important;
    margin: 0.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    border-color: #cbcbcb #4e474e #4e474e #cbcbcb;
    border-style: solid;
    border-width: 5px;
    margin-top: 2rem;
    overflow-y: auto;
    max-height: 100vh;
    text-align: center;
}

.footer .titulo {
    text-align: center;
    color: blue;
    font-weight: 700;
}

.footer .enlaces{
    color: blue;
    margin: 0.5rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.footer a{
    color: blue;
}

.footer .lista{
    text-decoration: none;
}

.footer .lista{
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem auto;
}

.footer a{
    text-decoration: none;
}

@media(min-width: 1024px){
    .footer {
        width: 50vw;
        font-weight: 3vw;
        margin-top: 12vh;
        margin-bottom: 2vh;
    }

    .footer .titulo{
        font-size: 2vw;
    }

    .footer .lista{
        justify-content: space-around;
    }

    .footer .enlaces{
        font-size: 1.35vw;
    }
}