.app{
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.084), rgba(255, 255, 255, 0.089)), /* Ajusta la opacidad aquí */
    url('../../Assets/IMG/star.gif');
background-size: 25px 25px; /* Aumenta el tamaño de la imagen para crear el espacio */
background-repeat: repeat; /* Hace que la imagen se repita */
background-position: 0 0; /* Asegura que la repetición comience desde la esquina superior izquierda */
background-color: black;
}



@media (min-width:1024px){

    .app{
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
}
